@{
    ViewBag.Title = "Info Page";
}
<!--<<h2>ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br> <br>
 <b><p>This is a book recomendaion system. Recomendaions dislpayed are basied on the user(s) previous search. </p></b>

<h2>@ViewBag.Title.</h2>
'<h3>@ViewBag.Message</h3>-->
<br><br>
<div class="row">
    <b><p>This is a book recomendaion system. Recomendaions dislpayed are basied on associations with  the user(s) previous search criteria.
        </p></b>
</div>
<br>
<div class="row">
    <address>
        <ab>address:</ab>CardiffMet<br />
        Western Avenue CF52YB<br />
        <abbr title="Phone">P:+447779689676</abbr>


    </address>
    <br>
    </div>
<br>
    <div class="row">
        <address>
            <strong>Tech Support  :</strong>   <a href="mailto:st20063247@outlook.cardiffmet.ac.uk">Tochukwu@outlook.cardiffmet.ac.uk  </a><br />

        </address>
    </div>
