body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,*/
select,
textarea {
    max-width: 280px;
}



input[type="button"] {
 float: right;
  padding: 0.3em; 
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  padding-bottom:1px;
  

}
input[type="text"] {
  width: auto;
  padding: 0.3em; 
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding-bottom:1px;

}
input[type="button"]:hover {
        background-color: orange;
        border-color: orange;
    }

jumbotron {
    background-color:#FF8C00 ;
}
